<div class="col-12 col-md-4 col-lg-3">
    <div class="shop_sidebar_area">

        <!-- ##### Single Widget ##### -->
        <div class="widget catagory mb-50">
            <!-- Widget Title -->
            <h6 class="widget-title mb-30">Catagories</h6>

            <!--  Catagories  -->
            <div class="catagories-menu">
                <ul id="menu-content2" class="menu-content collapse show">
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#clothing">
                        <a href="#">clothing</a>
                        <ul class="sub-menu collapse show" id="clothing">
                            <li><a href="/all">All</a></li>
                            <li><a href="/aonam">T-Shirt</a></li>
                            <li><a href="/quannam">Pants</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ##### Single Widget ##### -->
        <div class="widget brands mb-50">
            <!-- Widget Title 2 -->
            <p class="widget-title2 mb-30">Brands</p>
            <div class="widget-desc">
                <ul>
                    <li><a href="#">Asos</a></li>
                    <li><a href="#">Mango</a></li>
                    <li><a href="#">River Island</a></li>
                    <li><a href="#">Topshop</a></li>
                    <li><a href="#">Zara</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>