<div class="row">
    <div class="col-12">
        <div class="product-topbar d-flex align-items-center justify-content-between">
            <!-- Total Products -->
            <div class="total-products">
                <p><span><%= products.length%></span> products found</p>
            </div>
            <!-- Sorting -->
            <div class="product-sorting d-flex">
                <p>Sort by:</p>
                <form action="#" method="get">
                    <select name="select" id="sortByselect">
                        <option value="value">Highest Rated</option>
                        <option value="value">Newest</option>
                        <option value="value">Price: $$ - $</option>
                        <option value="value">Price: $ - $$</option>
                    </select>
                    <input type="submit" class="d-none" value="">
                </form>
            </div>
        </div>
    </div>
</div>